.jumbotron {

    background-color: #A6D4F2;
}
#ClayHillsCrossing {

    background-color: #E7B981;
    color: black;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;


}
#desertUt {

    background-color: #FFDFA8;
    color: black;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
#truth {

    background-color: #E7B981;
    color: black;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;

}
#dove {

    background-color: #FFDFA8;
    color: black;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
#windslow{

    background-color: #E7B981;
    color: black;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;

}
h1 {

    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    color: black;

}
h2 {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;

}
h4 {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;

}
h5 {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    color: #CC5C5C;

}


text {

    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}

.btn-secondary{
    background-color: #A6D4F2;
  
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    
}
a {
    color:black;
}
.image {
    padding: 8px;
}

nav.navbar.fixed-bottom.navbar-light.bg-light {
    Color: #A6D4F2;
    Background: #FFDFA8 !important;
    opacity: 0.5;
    
    
}